<nav  class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Scrapping", root_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>
